<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:action="@{userUpdate/{userIdFromView}(userIdFromView=${userIdFromView})}"
      th:object="${person}"
      method="post">
  <p>
    <label for="id">User Id</label>
    <input type="text"  name="id" id="id" th:field="${person.id}" readonly>
  </p>
  <p>
    <label for="name">Full name</label>
    <input type="text"  name="name" id="name" th:field="${person.name}">
  </p>
  <p>
    <label for="username">Username</label>
    <input type="text"  name="username" id="username" th:field="${person.username}">
  </p>
  <p>
    <label for="address">Address</label>
    <input type="text"  name="address" id="address" th:field="${person.address}">
  </p>
  <br>
  <button type="submit">Send</button>
</form>

</body>
</html>